body {
  font-family: 'Garamond';
  /* padding: 50px; */
  font-size:20px;
}



.page {
  background: #fff;
  margin: 0 auto;
  /* margin-right: auto;
  margin-left: auto;
  margin-top: 50x; */
  width: 200px;
  padding: 50px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}
span {
  font-size:14px;
}

ul {
vertical-align: text-bottom
}
.user {
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  margin: 0 auto;
  width: 100px;
  padding: 25px;
    font-size:14px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}
.create {
  display: none;
  /* display: block; */
  position: fixed;
  top: 82px;
  right: 0;
  background: #fff;
  margin: 0 auto;
  width: 100px;
  padding: 25px;
    font-size:14px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}
.login {
  display: none;
  /* display: block; */
  position: fixed;
  top: 82px;
  right: 0;
  background: #fff;
  margin: 0 auto;
  width: 100px;
  padding: 25px;
    font-size:14px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}